@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,600;1,700&display=swap');

$primary-color: #007BFF;
$secondary-color: #6C757D;
$container-bg: rgb(245, 244, 244);
$section-bg: #fff;
$section-text-color: #282828;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
}

.container {
    padding-inline: 1.5em;
    margin-top: 5em;
    background-color: $container-bg;
    width: 420px;
    height: 800px;
    border-radius: 24px;
}

header {
    padding: 2em 0 2em 2em;
    display: flex;
    width: 100%;
    height: 8.5em;

    & > section:first-child {
        width: calc(100% - (2.5em + 1em));
        height: 100%;
        font-weight: 700;

        h1 {
            color: $section-text-color;
            font-size: 2rem;
        }

        h3 {
            line-height: 0.35em;
            color: rgb(124, 124, 124);
            font-size: 1rem;
        }
    }

    & > section:last-child {
        height: 2.5em;
        width: 2.5em;
        margin-right: 1em;
        text-align: right;
        background-color: $primary-color;
        border-radius: 50%;
        position: relative;
        margin-top: 0.25em;

        span {
            position: absolute;
            right: 0.75em;
            top: 0.3em;
            color: #fff;
            font-weight: bolder;
            font-size: 1.2rem;
        }
    }
}

main {
    margin-top: -1em;
    width: 100%;
    display: flex;
    flex-direction: column;

    section:not(.pop-up) {
        width: calc(100% - 4em);
        height: 10em;
        margin: 0.6em 2em;
        text-align: center;
        background-color: $section-bg;
        position: relative;
        border-radius: 15px;
        font-weight: 700;
        text-transform: uppercase;
    
        p {
            position: absolute;
        }
    
        &:nth-child(2) p {
            top: 40%;
            left: 27.5%;
        }
    
        &:nth-child(3) p {
            top: 30%;
            left: 27.5%;
        }
    
        &.div-wrapper {
            width: calc(100% - 4em);
            display: flex;
            justify-content: space-around;
            background-color: transparent;
        }
    
        &:last-child span {
            position: absolute;
            z-index: 9999;
            right: 4.5em;
            top: 3.5em;
        }
    
        &:last-child div {
            margin-top: 0.75em;
            width: 32%;
            height: 75%;
            background-color: $section-bg;
            filter: drop-shadow(0 3px 1px rgb(220, 220, 220));
            border-radius: 12px;
        }
    
        &:last-child div:nth-child(2) {
            margin-right: 0.75em;
            margin-left: 0.75em;
        }
    }
}

.pop-up {
    opacity: 0;
    position: absolute;
    z-index: 9999;
    width: 23em;
    height: 400px;
    background-color: #007BFF;
    border-radius: 24px;
    transform: translateY(-10px);

    & .fa-xmark {
        width: 25px;
        height: 25px;
        text-align: center;
        color: #000;
        font-size: 1.5rem;
        position: absolute;
        top: .5em;
        left: 14em;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 50%;
    }
}

.show {
    transition: .5s;
    transform: translateY(20px);
    opacity: 1;
}
 

.nav-bar {
    margin: 1.75em auto;
    width: 22.5em;
    height: 5em;
    background-color: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    ul {
        display: flex;
        width: 22.5em;
        height: 4.5em;
    }

    ul li {
        position: relative;
        list-style-type: none;
        width: 70px;
        height: 70px;
        z-index: 1;
    }

    ul li a {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        text-align: center;
        font-weight: 500;

        & .icon {
            position: relative;
            display: block;
            line-height: 75px;
            font-size: 1.5rem;
            text-align: center;
            transition: .5s;
            color: $section-text-color;
        }

        &:hover .icon {
            color: #007BFF;
        }

        &.plus .icon {
            width: 70px;
            height: 70px;
        }

        & .text {
            position: absolute;
            color: $section-text-color;
            font-weight: 400;
            transition: .5s;
            letter-spacing: .1em;
            opacity: 0;
        }
        
        &.plus:hover .icon, &.plus:focus-within .icon {
            line-height: 65px;
            color: #fff;
            background-color: #007BFF;
            border-radius: 100%;
            border: 6px solid $container-bg;
            transform: translateY(-45px);
        }

        &:focus .icon {
            color: #007BFF;
        }

        &.plus:hover .text,  &.plus:focus-within .text{
            opacity: 1;
            transform: translateY(10px);
        }
    }
}

