@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,600;1,700&display=swap');

$primary-text-color: #fff;
$secondary-text-color: #282828;
$error-text-color: #ff0000;
$ligher-gradient-color:#007BFF;
$darker-gradient-color: #5656eb;
$weather-block-bg-color: #deedf3;

#chat{
    padding: 2em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    input {
        width: 15rem;
        border: none;
        outline: 0;
        padding: 5px;
        font-size: 0.8rem;
        background-color: $weather-block-bg-color;
        color: $secondary-text-color;
        border-radius: 12px;
        flex: 1;
        margin-right: 12px;
    }

    label{
        font-weight: 600;
    }

    textarea{
        border: none;
        border-radius: .6em;
        padding: .5em;
        width: 20em;
    }

    p{
        background-color: $error-text-color;
        margin-top: 3em;
        padding: 0.7em;
        border-radius: .6em;
    }

    button{
        padding: 0.6em 2em;
        border-radius: 10px;
        border: none;
        margin: 0 auto;
    }

    button:hover{
        cursor: pointer;
    }

}