@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,600;1,700&display=swap');

$primary-text-color: #fff;
$secondary-text-color: #282828;
$error-text-color: #ff0000;
$ligher-gradient-color:#007BFF;
$darker-gradient-color: #5656eb;
$weather-block-bg-color: #deedf3;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .weather {
    z-index: 9999;
    width: 23em;
    height: 28.2em;
    padding: 30px;
    border-radius: 24px;
    text-align: center;
    color: $primary-text-color;
    background: linear-gradient(130deg, $ligher-gradient-color, $darker-gradient-color);
    
    .search {
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      i {
        font-size: 1rem;
      }
  
      input {
        width: 10em;
        border: none;
        outline: 0;
        padding: 12px 25px;
        font-size: 18px;
        background-color: $weather-block-bg-color;
        color: $secondary-text-color;
        border-radius: 12px;
        flex: 1;
        margin-right: 12px;
      }
  
      button {
        border: none;
        outline: 0;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
        font-size: .65rem;
  
        img {
          width: 20px;
        }
      }
    }
  
    .winfo {
      .icon {
        margin-top: 20px;
        width: 120px;
      }
  
      h1 {
        font-size: 70px;
        font-weight: 500;
        margin-top: 5px;
      }
  
      h2 {
        font-size: 40px;
        font-weight: 400;
        margin-top: -40px;
      }
    }
  
    .details {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0px 20px;
      margin-top: 50px;
  
      .col {
        display: flex;
        align-items: center;
        text-align: left;
  
        img {
          width: 45px;
          margin-right: 10px;
        }
      }
  
      .humidity, .wind {
        font-size: 27px;
  
        p {
          margin: 0;
        }
      }
    }
  }
  
  .error {
    color: $error-text-color;
    text-align: left;
    margin-left: 10px;
  }
  